/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
    padding-top: 2% !important;
    padding-bottom: 0% !important;
}
.mat-mdc-form-field-infix{
    min-height: 36px !important;
}
.mdc-text-field--outlined{
    padding-left: 3.5% !important;
}
.mat-mdc-raised-button{
    min-height: 40px !important;
}
.mat-mdc-form-field-bottom-align::before{
    height: 0 !important;
}